
<div id="search_bar">
  <%= form_tag(handymen_path, method: :get) do%>
    <div class="outer">
    	<div class="bg">
    		<div class="searchBar">
          <div>
            <%= text_field_tag :profession, params[:profession], class: :searchBarText %>
            <%= submit_tag 'Search', name: nil, class: :searchButton%>
          </div>
    		</div>
    	</div>
    </div>
  <% end %>
</div>
