<p id="notice"><%= notice %></p>

<h1>Handymen</h1>
<#%= simple_format @handymen.to_yaml %>
<table id="handymen-datatable" data-source="<%= handymen_path(format: :json) %>">
  <thead>
    <tr>
      <th>id</th>
      <th>profession</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Handyman', new_handyman_path %>
