<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <legend class="text-center">New Handyman</legend>
    <%= render 'form', handyman: @handyman %>

      <%= link_to 'Back', handymen_path, class:"btn btn-secondary btn-lg" %>

    </div>
  </div>
</div>
