<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href ="<%= root_path %>">Sanyie</a>
    </div>

    <div class="navbar-body">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="#">Arabic</a></li>
        <li><a class="navbar-brand" href="#">Contact Us</a></li>
        <li><a class="navbar-brand" href="<%= new_handyman_path %>">Join Us as Handyman</a></li>
        <li><a class="navbar-brand" href="#">Log in</a></li>
      </ul>

    </div>
  </div>
</div>
